body {
  font-family: Arial;
}
.item {
  display: flex;
}

.item__code {
  margin-right: 5px;
  font-weight: bold;
}
.item__value {
  margin-right: 5px;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: black;
  opacity: 0.5;
}

.loader-wrapper_active {
  display: flex;
}

.loader {
  width: 100px;
  display: block;
}